<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="me.linnemann.ptmobile" name="" android:versionName="0.8 beta"
	android:versionCode="10">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-sdk android:minSdkVersion="3" />

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name="Start" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!--  dont forget start -->
		<activity android:name=".Login"></activity>
		<activity android:name=".SelectLabels"></activity>
		<activity android:name=".Projects"></activity>
		<activity android:name=".ChangeEstimate"></activity>	
		<activity android:name=".Activities"></activity>
		<activity android:name=".Stories"></activity>
		<activity android:name=".StoriesInTabs"></activity>
		<activity android:name=".Preferences"></activity>
		<activity android:name=".APIKeyPrefs">
			<intent-filter> 
                    <action 
                         android:name="me.linnemann.ptmobile.APIKeyPrefs" /> 
                         <category android:name="android.intent.category.DEFAULT" />
               </intent-filter> 
		</activity>
		<activity android:name=".StoryDetails"></activity>
		<activity android:name=".EditStory" />
		<activity android:name=".AddStory" />
		<activity android:name=".About"></activity>
		<activity android:name=".ProjectDetails"></activity>
	</application>

</manifest> 